<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div id="app1">
	<ol>
		<game-title v-for='item in games' :game='item'></game-title>
	</ol>
</div>
<div id="app2">
	<app2></app2>
</div>
<div id="app3">
	<h1>你喜欢的游戏是</h1>
	<table>
		<tr>
			<td>编号</td>
			<td>游戏名称</td>
		</tr>
		<tr is='app3'></tr>
		<tr is='app3-2'></tr>
		<tr is='app3-3'></tr>
	</table>
</div>
<div id="app4">
	<p>今天天气是<app4-p/></p>
</div>
<div id="app5">
	<p>您的名字是<input type="text" v-model='myname'></p>
	<hr>
	<app5 :props='myname'>
</div>
<div id="app6">
	<app6 pname='hap'></app6>
	你好帅
	<app6 pname='hap2'></app6>
	你好帅2
	<app6 pname='hap3'></app6>
	你好帅3
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
		//创新新值
	Vue.component('game-title',{
		props:['game'],
		template:'<li>{{game.title}}</li>'
	})
	var myApp2 = new Vue({
		el:'#app1',
		data:{
			games:[
			{title:'斗地主'},
			{title:'斗地主2'},
			{title:'斗地主3'}
			]
		}
	})

	//局部注册组件
	var appcomponent={
		template:'<div>今天天气很不错</div>'
	}
	var App2 = new Vue({
		el:'#app2',
		data:{

		},
		components:{
			'app2':appcomponent
		}
	})

	//表格组件
	Vue.component('app3',{
		template:'<p>超级马里奥</p>'
	})
	Vue.component('app3-2',{
		template:'<p>超级马里奥-2</p>'
	})
	Vue.component('app3-3',{
		template:'<p>超级马里奥-3</p>'
	})

	var App3 = new Vue({
		el:'#app3',
		data:{}
	})

	//组件数据
	Vue.component('app4-p',{
		template:'<strong>{{app4}}</strong>',
		data:function(){
			return {
				app4:'很好'
		    }
		}
	})
	var App4 = new Vue({
		el:'#app4',
	})
   //为组件传递变量
	Vue.component('app5',{
		props:['props'],
		template:'<p>您好<strong>{{props}}</strong></p>'
	})
	var app5 = new Vue({
		el:'#app5',
		data:{
			myname:'hao'
		}
	})

	//slot插槽
	Vue.component('app6',{
		props:['pname'],
		template:'<div>'
		+'你好,<strong>{{pname}}</strong>'
		+'<slot></slot>'
		+'</div>'
	})

	var App6 = new Vue({
		el:'#app6',
	})


	
</script>
</body>
</html>